#footer {
  bottom: 0;
  color: $primary;
  font-size: 1.2rem;
  height: 60px;
  position: absolute;
  text-align: left;
  width: 100%;

  .info {
    height: 100%;
    width: 49%;

    @media (max-width: 600px), screen and (orientation: portrait) {
      & {
        font-size: 1rem;
        height: auto;
        line-height: 1rem;
        width: 100%;

        a {
          font-size: 1rem;
        }
      }

      &.github {
        padding-left: 58px;
      }
    }
  }
}

a {
  color: $primary;
  font-size: 1.2rem;

  &:hover {
    color: $dark;
  }
}

.github {
  float: left;
}

.tmdb {
  float: right;

  div {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;

    &.tmdb-left {
      width: 2.8rem;
    }

    &.tmdb-right {
      width: calc(100% - 6.8rem);
    }
  }

  #tmdb-logo {
    fill: #01d277;
    height: 2.8rem;
    margin-top: 4px;
    transition: fill ease .25s;

    &:hover {
      fill: #081c24;
    }
  }
}
