#footer {
  border-bottom: 2px solid $dark;
  bottom: 0;
  color: $light;
  height: 84px;
  position: absolute;
  text-align: left;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;

  li {
    // display: inline-block;
    font-size: 1.2rem;
  }

  a {
    color: $light;
    font-size: 1.2rem;

    &:hover {
      color: lighten($light, 25%);
    }
  }

  .tmdb {
    padding-top: 1em;
    line-height: 1em;
    font-size: 1rem;

    div {
      padding: 0 0 0 1em;
    }

    #tmdb-logo {
      fill: #081c24;
      width: 2.8rem;
      margin-top: 4px;

      &:hover {
        fill: $white;
      }
    }
  }
}
