#link {
  border-top: 1px solid rgba($primary, .5);
  bottom: 84px;
  position: fixed;
  top: 106px;
  width: 100%;
}

#search {
  padding-top: 150px;
  position: relative;
  width: 100%;

  #search-box {
    font-size: 1.6rem;
    height: 100%;
    line-height: 1.8rem;
  }

  .selected {
    position: relative;
  }
}
