#recommend {
  border-top: 1px solid rgba($white, .05);
  bottom: 84px;
  position: fixed;
  top: 106px;
  width: 100%;
}

#search {
  height: 100%;
  padding-top: 150px;
  width: 100%;

  #search-box {
    border: 0;
    border-bottom: 1px solid $accent;
    color: $font-color;
    font-size: 2.8rem;

    transition: width .5s ease, background-color .25s ease;
    width: 100%;

    &:placeholder-shown {
      background-color: $primary;
      width: 50%;
    }

    &::placeholder {
      color: $font-color;
      opacity: 1;
    }

    &:hover {
      background-color: $dim-bg;
    }

    &:focus {
      background-color: $dim-bg;
      width: 100%;
    }
  }
}
