.container {
  padding: 0;
}

#search {
  position: relative;
  width: 100%;
  background-color: $white;

  #search-box {
    background-color: $white;
    border: 0;
    font-size: 1.6rem;
    height: 100%;
    line-height: 1.8rem;
    margin: 0 auto;
    width: 100%;
    color: $dark;

    &::placeholder {
      color: $grey;
    }
  }
}

.open-results-enter-active,
.open-results-leave-active {
  transition: opacity .1s;
}

.open-results-enter,
.open-results-leave-to {
  opacity: 0;
}

#results {
  background-color: $white;
  position: relative;

  .result {
    display: inline-block;
    margin: 0 5px;
    position: relative;
    vertical-align: top;
    white-space: normal;
  }

  #scroll {
    height: 200px;
    padding: 6px 10px;
    margin: 0;
    list-style: none;
    position: relative;

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .scroll-indicator {
    color: $white;
    filter: drop-shadow(0 0 2px rgba($dark, .5));
    font-size: 64px;
    line-height: 64px;
    position: absolute;
    top: 58px;

    &#scroll-left {
      left: 12px;
    }

    &#scroll-right {
      right: 12px;
    }
  }
}
