.selected {
  // height: 150px;
  list-style: none;
  text-align: left;

  ul {
    margin: 0;
    padding: 0;
  }

  .selected-movie {
    display: inline-block;
    margin: 0 5px;
    position: relative;
    vertical-align: top;
  }
}
