.header {
    display: flex;
    justify-content: space-between;
    min-height: 24px;
    border-bottom: 1px solid #ccc;
    background: #333;
    padding: 8px 30px;
}
.header__title__link {
    text-decoration: none;
}

.header__title {
    color: white;
    margin: 0;
}

.header .search-bar {
}
