@import '~var/foundation-settings';

@import '~var/colors';
@import '~var/fonts';


body {
  margin: 0;
}

#app {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  color: $font-color;
  text-align: center;
}
