@import 'variables/Colors';
@import 'variables/Fonts';

body {
  margin: 0;
}

#app {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $font-color;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  text-align: center;
}
