@import '~base/styles';
@import '~var/fonts';

html {
  background-color: $white;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#app {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $light;
  color: $font-color;
  height: 100%;
}

div {
  &.container,
  &.row,
  &[class^='col-'] {
    height: 100%;
  }

  &[class^='col-'] {
    // border-left: 1px solid $dark;
    // border-right: 1px solid $dark;
  }
}
