// Color Scheme
$primary: #abc1c5;
$secondary: rgba($primary, .5);
$accent: #FFBB33;

$white: #fff;
$light: rgba($primary, .04);
$dark: darken($primary, 60%);

// Fonts
$font-color: $dark;
$link-hover: $accent;
