// Color Scheme
$primary: #394b45;
$secondary: #470930;

$white: #fff;
$light: #a9b8b3;
$dark: #0f1311; // #0b0f0e
// Fonts
$font-color: $dark;
$font-white: $white;


// Backgrounds
$bg-dark: $dark;

// Borders
