// Color Scheme
$primary: #487FFF;
$secondary: #6E9AFF;
$accent: #FFBB33;

$white: #fff;
$light: desaturate(rgba($primary, .05), 50%);
$dark: #0D2B37;

$dim-bg: rgba($white, .04);

// Fonts
$font-color: $primary;
$link-hover: $accent;
